<?xml version="1.0" encoding="ISO-8859-1" ?>

<config>
	<inputstreams>
		<stream>
			<class>edu.uci.ics.como.eventprocessor.input.DweetIOInputStream</class>
			<id>UciUbicompSensor1</id>
		</stream>
		<stream>
			<class>edu.uci.ics.como.eventprocessor.input.DweetIOInputStream</class>
			<id>UciUbicompSensor2</id>
		</stream>
		<stream>
			<class>edu.uci.ics.como.eventprocessor.input.DweetIOInputStream</class>
			<id>UciUbicompSensor3</id>
		</stream>
		<stream>
			<class>edu.uci.ics.como.eventprocessor.input.DweetIOInputStream</class>
			<id>UciUbicompSensor4</id>
		</stream>
		<stream>
			<class>edu.uci.ics.como.eventprocessor.input.DweetIOInputStream</class>
			<id>UciUbicompSensor5</id>
		</stream>
	</inputstreams>
	<rules>
		<rule>
			<predicate>
				<class>edu.uci.ics.como.eventprocessor.rules.predicates.MinDistancePredicate</class>
				<key1>avg</key1>
				<key2>raw.UciUbicompSensor5</key2>
				<threshold>5</threshold>
			</predicate>
			<action>
				<class>edu.uci.ics.como.eventprocessor.rules.actions.MailAction</class>
				<to>4155288582@tmomail.net</to>
				<from>mgiorgio@uci.edu</from>
				<password></password>
				<subject>Ubicomp class action!</subject>
				<message>Too much water!</message>
				<properties>
					<mailsmtpauth>true</mailsmtpauth>
					<mailsmtpstarttlsenable>true</mailsmtpstarttlsenable>
					<mailsmtphost>smtp.gmail.com</mailsmtphost>
					<mailsmtpport>587</mailsmtpport>
				</properties>
			</action>
		</rule>
	</rules>
</config>